<div class="playlist-premium-tile-wrapper">
  
  {% if include.links.spotify or include.links.apple_music or include.links.youtube_music %}
    <div class="album-links">
  
      {% if include.links.spotify %}
        <a href="{{ include.links.spotify }}" target="_blank">
          <svg class="icon" viewBox="0 0 24 24"><path d="M12 0C5.37 0 0 5.37 0 12c0 6.64 5.37 12 12 12s12-5.36 12-12C24 5.37 18.63 0 12 0zm5.52 17.28c-.23.37-.71.49-1.08.26-2.97-1.82-6.7-2.23-11.11-1.22-.43.1-.86-.17-.96-.6-.1-.43.17-.86.6-.96 4.82-1.11 9.02-.64 12.33 1.36.37.23.49.71.26 1.08z"/></svg>
        </a>
      {% endif %}
  
      {% if include.links.apple_music %}
        <a href="{{ include.links.apple_music }}" target="_blank">
          <svg class="icon" viewBox="0 0 24 24"><path d="M16.365 1.43c-.96.04-2.12.68-2.81 1.53-.61.75-1.14 1.93-.94 3.06 1.08.08 2.2-.55 2.88-1.4.67-.83 1.17-2.03.87-3.19z"/></svg>
        </a>
      {% endif %}
  
      {% if include.links.youtube_music %}
        <a href="{{ include.links.youtube_music }}" target="_blank">
          <svg class="icon" viewBox="0 0 24 24"><path d="M12 2.04c-5.5 0-9.96 4.46-9.96 9.96s4.46 9.96 9.96 9.96 9.96-4.46 9.96-9.96S17.5 2.04 12 2.04zm-2 14.5V7.46l6 4.54-6 4.54z"/></svg>
        </a>
      {% endif %}
  
    </div>
  {% endif %}

  <a 
    class="playlist-premium-tile" 
    href="{{ site.baseurl }}/music/playlists/{{ pl.playlist_id }}/?song_id={{ first_track }}"
  >
    <div class="playlist-premium-image-wrapper">
      <img 
        src="{{ site.baseurl }}{{ artwork }}" 
        alt="{{ title }}" 
        class="playlist-premium-image"
      >
      <div class="playlist-premium-gradient"></div>
      <div class="playlist-premium-title">{{ title }}</div>
    </div>
  </a>

</div>
