{% if page.tiles %}
<section class="song-project">

  <h2 class="section-header">{{ page.project_title }}</h2>

  {% assign project_tiles_public = "" | split: "" %}

  {% for tile in page.tiles %}
    {% assign match = site.data.music.songs | where: "url", tile.url | first %}
    {% if match and match.videostatus == "Public" %}
      {% assign project_tiles_public = project_tiles_public | push: tile %}
    {% endif %}
  {% endfor %}

  <div class="tile-grid">
    {% for tile in project_tiles_public %}
      <a class="tile" href="{{ tile.url }}">
        <img src="{{ tile.image }}" alt="{{ tile.title }}">
        <h3 class="tile-title">{{ tile.title }}</h3>
      </a>
    {% endfor %}
  </div>

</section>
{% endif %}
