  .artists-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 40px;
    padding: 40px 50px 80px;
  }

x  .artist-tile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-decoration: none;
    color: white;
  }

  .artist-tile img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
  }

  .artist-tile h3 {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }

/* ================================
Desktop — Light scaling css
================================ */
@media (min-width: 901px) {
}

/* ================================
Portrait (440px) — heavy scaling css
================================ */
@media (max-width: 480px) {
  .artists-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 40px;
    padding: 40px 50px 80px;
  }

  .artist-tile {
    gap: 12px;
}

  .artist-tile img {
    width: 100%;
    border-radius: 6px;
  }

  .artist-tile h3 {
    margin: 0;
    font-size: 1rem;
  }
}

/* ================================
Landscape (832px) — moderate scaling css
================================ */
@media (min-width: 481px) and (max-width: 900px) {
  .artists-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 40px;
    padding: 40px 50px 80px;
  }

  .artist-tile {
    gap: 12px;
  }

  .artist-tile img {
    width: 100%;
    border-radius: 6px;
  }

  .artist-tile h3 {
    margin: 0;
    font-size: 1rem;
  }
}
