<footer class="site-footer">
  <p>© 2026 Horizon Sound</p>
  <p>All original music and creative works are owned by Horizon Sound.</p>
  <p>Contact: Support@HorizonSound.org</p>
  <p id="viewport-width"></p>
</footer>

<script>
//  function updateViewportWidth() {
//    const w = window.innerWidth;
//    document.getElementById("viewport-width").textContent =
//    "Viewport width: " + w + "px";
//  }
//
//  window.addEventListener("load", updateViewportWidth);
//  window.addEventListener("resize", updateViewportWidth);
//  window.addEventListener("orientationchange", updateViewportWidth);
</script>

